@font-face {
  font-family: 'iconfont';  /* project id 978422 */
  src: url('//at.alicdn.com/t/font_978422_0rtf5z1xh03g.eot');
  src: url('//at.alicdn.com/t/font_978422_0rtf5z1xh03g.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_978422_0rtf5z1xh03g.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_978422_0rtf5z1xh03g.woff') format('woff'),
  url('//at.alicdn.com/t/font_978422_0rtf5z1xh03g.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_978422_0rtf5z1xh03g.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 35px;
}
 
.heart  {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 32px;
	color: #DD524D;
}

.money {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 35px;
	color: coral;
}